.modal_wrapper{
    padding: 0px 0px 0px 18px;
    width: 90%;
    height: 35px;
    outline-color: rgb(210, 214, 210);
    margin: 10px 0px 0px 25px;
    font-size: 15px;
}
.label_style{
    font-size: 15px;
    margin: 0px 0px 0px 25px;
    }
    .datetime {
        width: 90%;
        height: 35px;
        outline-color: rgb(210, 214, 210);
        margin: 10px 0px 0px 25px;
        font-size: 15px;
        border: 1px solid #a39696;
        border-radius: 2px
    }