.header{
        font-size: 23px;
        padding: 1rem;
        font-weight: bold;
        /* border-bottom: 2px; */
        /* border: 1px solid; */
        border-bottom: 1px solid lightgrey;
    }