<ion-content>
  <div>
    <ion-button (click)= "clickToDownload()"></ion-button>
  </div>
  <div id="pdf">
    <img style="position:absolute;top:0.44in;left:0.44in;width:8.41in;height:11.41in ; display:none;"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ci_2.png" />
    <div style="position:absolute;top:0.88in;left:2.32in;width:3.94in;line-height:0.33in;"><span
        style="font-style:normal;font-weight:bold;font-size:15pt;font-family:Arial;color:#000000">AVERY DENNISON (INDIA)
        PVT LTD</span><span style="font-style:normal;font-weight:bold;font-size:15pt;font-family:Arial;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:1.15in;left:2.19in;width:4.17in;line-height:0.16in;">
      <DIV style="position:relative; left:0.50in;"><span
          style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">VECHICLE CONSPICUITY
          ONLINE MIS CERTIFICATE</span><span
          style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000"> </span><br /></DIV>
      <span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">COMPLIANCE TO
        AUTOMOTIVE INDUSTRY STANDARD -089,090&amp;037</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000"> </span><br />
    </div>
    <img style="position:absolute;top:0.65in;left:6.49in;width:2.36in;height:0.83in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ri_1.png" />
    <img style="position:absolute;top:11.17in;left:0.62in;width:1.54in;height:0.01in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ci_3.png" />
    <div style="position:absolute;top:11.18in;left:0.62in;width:1.57in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">Authorized
        Dealer Signature</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <img style="position:absolute;top:11.17in;left:7.08in;width:1.07in;height:0.01in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ci_4.png" />
    <div style="position:absolute;top:11.18in;left:7.07in;width:1.11in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">Customer
        Signature</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:2.19in;left:0.62in;width:2.89in;line-height:0.21in;"><span
        style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#000000">The
        Regional Transport Office</span><span
        style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#000000">TN58
        MADURAI (SOUTH) RTO(TN-58)</span><span
        style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:2.19in;left:6.07in;width:2.69in;line-height:0.21in;"><span
        style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#000000">Certificate
        NO :</span><span
        style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Times New Roman;color:#000000">
        AVERYRRT0050193</span><span
        style="font-style:normal;font-weight:bold;font-size:11pt;font-family:Times New Roman;color:#000000">
      </span><br />
      <DIV style="position:relative; left:0.87in;"><span
          style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#000000">Fitment
          Date : 14-09-2020</span><span
          style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#000000">
        </span><br /></DIV>
    </div>
    <img style="position:absolute;top:2.60in;left:0.56in;width:8.16in;height:1.01in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ci_5.png" />
    <div style="position:absolute;top:2.61in;left:0.62in;width:1.22in;line-height:0.26in;"><span
        style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Times New Roman;color:#000000">Vehicle
        Details</span><span
        style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:2.91in;left:1.51in;width:1.64in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Registration
        No : </span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">TN58BA0095</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:2.91in;left:5.80in;width:1.19in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Registration
        Year:</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">2018</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:3.14in;left:1.38in;width:1.91in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Chassis No
        : </span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">MAT483173JYH21081</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:3.14in;left:5.37in;width:2.06in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Engine NO :
      </span><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">1
        4CRAIL10HRYSC4575</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:3.37in;left:1.38in;width:1.90in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Vehicle
        Make: TATA MOTORS LTD</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:3.37in;left:5.12in;width:2.56in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Vehicle
        Model : TATA SUPER ACE MINT BS IV</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:2.00in;left:0.62in;width:0.31in;line-height:0.22in;"><span
        style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#000000">TO:</span><span
        style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:3.64in;left:0.62in;width:1.82in;line-height:0.26in;"><span
        style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Times New Roman;color:#000000">Vehicle
        Owner Details</span><span
        style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:3.64in;left:4.69in;width:2.85in;line-height:0.26in;"><span
        style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Times New Roman;color:#000000">Manufacture
        &amp; Distributor Details</span><span
        style="font-style:normal;font-weight:bold;font-size:12pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:3.94in;left:0.62in;width:2.20in;line-height:0.16in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Company
        Name/Owner Name : SUDHA V</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Contact
        Number : 7667334949</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:3.94in;left:4.69in;width:3.72in;line-height:0.16in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Manufacturer
        Name : AVERY DENNISON (INDIA)PRIVATE LIMITED</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Distributor
        Name : Bolster Solutions</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:4.32in;left:0.62in;width:1.94in;line-height:0.16in;"><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">Owner Address
        / Register Address :</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br />
      <DIV style="position:relative; left:0.05in;"><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">NO 16,
          FUND OFFICE COLONY,</span><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
        </span><br /></DIV>
      <DIV style="position:relative; left:0.05in;"><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">MADURAI -
          625 003,</span><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
        </span><br /></DIV>
    </div>
    <div style="position:absolute;top:4.32in;left:4.69in;width:1.64in;line-height:0.16in;"><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">MFG
        Address:</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br />
      <DIV style="position:relative; left:0.05in;"><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Narshingpur
          Industrial Area</span><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
        </span><br /></DIV>
      <DIV style="position:relative; left:0.05in;"><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Six
          Kilometer Stone</span><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
        </span><br /></DIV>
      <DIV style="position:relative; left:0.05in;"><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Delhi
          Jaipur Highway,Gurgaon</span><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
        </span><br /></DIV>
      <DIV style="position:relative; left:0.05in;"><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Delhi /
          India.</span><span
          style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
        </span><br /></DIV>
    </div>
    <div style="position:absolute;top:4.32in;left:6.76in;width:1.14in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">Distributor
        Address:</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:4.61in;left:6.81in;width:1.52in;line-height:0.16in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">No 15/5A,
        Vishahan Enclave,</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Gandhi
        Nagar Colony,</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Erode-638009,</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:5.45in;left:0.62in;width:1.63in;line-height:0.18in;"><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">Conspicuity
        Tapes 20MM</span><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">Fitment
        Details</span><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:5.45in;left:2.71in;width:1.80in;line-height:0.20in;"><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">Rear Marking
        Plates Details</span><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:5.45in;left:5.96in;width:1.17in;line-height:0.20in;"><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">Certificate
        Details</span><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:5.86in;left:0.62in;width:1.31in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">20MM - RED
        : 1.20 Mtrs</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:5.86in;left:2.71in;width:3.07in;line-height:0.16in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Class 3 :
        Red Retro Reflective and Yellow Retro Reflective -</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Alternative
        Strips</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:5.86in;left:5.96in;width:2.35in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Type
        Approved Number: A95224 &amp;E13 104R</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:6.25in;left:0.62in;width:1.39in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">20MM WHITE
        : 1.20 Mtrs</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:6.25in;left:2.71in;width:2.81in;line-height:0.16in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Class 4 :
        Red Retro Reflective border and Yellow Retro</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Reflective
        Centre</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:6.25in;left:5.96in;width:2.22in;line-height:0.16in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">COP Number
        :</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">SHL/16/2019-2020/3000008304/COP/3099</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:6.63in;left:0.62in;width:1.63in;line-height:0.18in;"><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">Conspicuity
        Tapes 50MM</span><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">Fitment
        Details</span><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:6.63in;left:2.71in;width:1.64in;line-height:0.20in;"><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">80MM Circular
        Reflector</span><span
        style="font-style:normal;font-weight:bold;font-size:9pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:6.63in;left:5.96in;width:2.66in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Test Report
        Number :SHL/16/2007-2008/2528/1584</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:7.04in;left:0.62in;width:1.25in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">50MM-RED :
        0.00 Mtrs</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:7.04in;left:2.71in;width:2.09in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">80MM Red
        Circular Reflector : 0.00 Nos</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:7.04in;left:5.96in;width:2.37in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">REAR MARK
        :SHL/16/2016-2017/9203/1186</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:7.27in;left:0.62in;width:1.40in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">50MM-WHITE
        : 0.00 Mtrs</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:7.27in;left:2.71in;width:2.20in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">80MM White
        Circular Reflector : 0.00 Nos</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:7.27in;left:5.96in;width:2.68in;line-height:0.16in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Certified
        By : The Automotive Research Association</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">of India
        (ARAI)</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:7.50in;left:0.62in;width:1.53in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">50MM-YELLOW
        : 1.80 Mtrs</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:7.50in;left:2.71in;width:2.25in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">80MM Yellow
        Circular Reflector : 0.00 Nos</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:7.78in;left:0.62in;width:3.68in;line-height:0.16in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">The Maximun
        Retail Price for the products specified in this Certificate is</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Rs.510
        only.</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:7.78in;left:4.70in;width:3.84in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">20mm: Rs.
        30/feet | 50mm: Rs.46/feet | C3: Rs.650/piece | C4: Rs.750/piece</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:8.16in;left:0.62in;width:0.87in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">Fitment
        Images</span><span
        style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:8.39in;left:0.62in;width:0.30in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Front</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:8.39in;left:2.66in;width:0.29in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Back</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:8.39in;left:4.70in;width:0.36in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Side-1</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:8.39in;left:6.73in;width:0.36in;line-height:0.17in;"><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">Side-2</span><span
        style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <img style="position:absolute;top:8.62in;left:0.62in;width:1.56in;height:1.35in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ri_2.png" />
    <img style="position:absolute;top:8.62in;left:2.66in;width:1.56in;height:1.35in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ri_3.png" />
    <img style="position:absolute;top:8.62in;left:4.70in;width:1.56in;height:1.35in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ri_4.png" />
    <img style="position:absolute;top:8.62in;left:6.73in;width:1.56in;height:1.35in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ri_5.png" />
    <div style="position:absolute;top:10.05in;left:0.62in;width:5.94in;line-height:0.13in;"><span
        style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Times New Roman;color:#000000">This is to
        certify that we have authorised Distributor / Dealer for the sale AIS-089,090,&amp;037 Compliant AVERY Brand
        Retro reflective Tapes</span><span
        style="font-style:normal;font-weight:normal;font-size:6pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:6pt;font-family:Times New Roman;color:#000000">Supplied by
        us as per CMVR 104-1989</span><span
        style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:10.46in;left:6.79in;width:1.84in;line-height:0.14in;"><span
        style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Times New Roman;color:#000000">Authorized
        Distributor Seal &amp; Signature</span><span
        style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <div style="position:absolute;top:10.35in;left:0.62in;width:6.00in;line-height:0.13in;"><span
        style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Times New Roman;color:#000000">We hereby
        certify that we have supplied/installed ICAT/ARAI Approved Retro Reflective Tapes as per CMRV rule 104 specified
        under CMVR</span><span
        style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Times New Roman;color:#000000">
      </span><br /><span
        style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Times New Roman;color:#000000">GSR 784
        (E)</span><span
        style="font-style:normal;font-weight:normal;font-size:7pt;font-family:Times New Roman;color:#000000">
      </span><br /></div>
    <img style="position:absolute;top:1.90in;left:3.64in;width:2.10in;height:0.01in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ci_6.png" />
    <img style="position:absolute;top:2.32in;left:3.64in;width:2.10in;height:0.01in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ci_7.png" />
    <img style="position:absolute;top:1.90in;left:5.74in;width:0.01in;height:0.44in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ci_8.png" />
    <img style="position:absolute;top:1.90in;left:3.64in;width:0.01in;height:0.44in"
      src="https://kingstrackimages.s3.amazonaws.com/TapeManagement/Admin/ci_9.png" />
    <div style="position:absolute;top:1.96in;left:4.00in;width:1.44in;line-height:0.22in;"><span
        style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#181818">Paste
        Hologram here</span><span
        style="font-style:normal;font-weight:normal;font-size:11pt;font-family:Times New Roman;color:#181818">
      </span><br /></div>
  </div>
</ion-content>