<ion-header  >
  <ion-toolbar class="TapeHeader">  
  <ion-row> 
  <ion-menu-button></ion-menu-button> <ion-col size=8 id='title' style="align-self: center;">Scan Qrcode</ion-col>
</ion-row>
</ion-toolbar>
</ion-header>
<ion-content>
<ion-button expand="full" (click)="barcode()" color='danger'>
  SCAN QR-CODE
</ion-button>
<!-- <ion-row class="scan-button" >
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="scanCamera()">Stop</ion-button>
  </ion-col>
</ion-row> -->
</ion-content>