<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;font-weight: bold;">{{shownContent.certificateId}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!showContent">
    <ion-row style="margin-left: 50px; font-size: 15px; color: #8c8c8c;">
      <ion-col>OTP</ion-col>
    </ion-row>
    <ion-row style="justify-content: center;">
      <ion-col class="borderStyleOtp" size=10>
        <ion-input (keyup)="verifiOtp()" type="number" [(ngModel)]="otp"></ion-input>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="showContent">
  <ion-row style="margin-left: 50px; font-size: 15px; color: #8c8c8c;">
    <ion-col>Registration Number</ion-col>
  </ion-row>
  <ion-row style="justify-content: center;">
    <ion-col class="borderStyle" size=10>
      {{shownContent.registrationNumber}}</ion-col>
  </ion-row>
  <ion-row style="margin-left: 50px;font-size: 15px; color: #8c8c8c;">
    <ion-col>Certificate Id</ion-col>
  </ion-row>
  <ion-row style="justify-content: center;">
    <ion-col class="borderStyle" size=10>{{shownContent.certificateId}}</ion-col>
  </ion-row>
  <ion-row style="margin-left: 50px;
  /* text-transform: uppercase; */
  font-size: 15px;
  color: #8c8c8c;">
    <ion-col>Certificate Status</ion-col>
  </ion-row>
  <ion-row class="radio_btn" style="justify-content: center;">
    <ion-item style="width:85%">
      <ion-label>
        Certificate Status
      </ion-label>
      <ion-select (ionChange)="radioSelect($event, item)" value="shownContent.rtoStatus">
        <ion-select-option *ngFor="let item of statusNames" [value]="item">{{item}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-row>
  <ion-row style="margin-left: 50px;font-size: 15px; color: #8c8c8c;">
    <ion-col>Comment</ion-col>
  </ion-row>
  <ion-row class="radio_btn" style="justify-content: center;">
    <ion-item style="width:85%">
      <textarea style="    width: 100%;
      height: 100px;" [(ngModel)]="textBox"></textarea>
    </ion-item>
  </ion-row>

  <ion-row>
    <ion-col style="font-size: 20px;text-align: center;bottom: 0px;
  position: fixed;">
      <ion-button (click)="submit()">Submit</ion-button>
    </ion-col>
  </ion-row>
</div>
</ion-content>