.certificate_label
{
  font-size: 14px;
  font-weight: 500;
  color: #2E2C2C;
  margin: 0px 0px 0px 10px;
}
.certificate_data
{
  font-size: 14px;
  font-weight: 500;
  color: #bdbdbd;
  margin: 0px 0px 0px 25px;
}
#card_style{
  background: #f6f6f6;
    border-radius: 10px;
    border-left: 3px solid #cc2930;
}
.border-style
{
  padding: 8px;
}
#title{
  align-self: center;
}