<ngx-datatable #myTable  (activate)="onActivate($event)" class="material bootstrap" [rows]="datalist"
  [columnMode]="ColumnMode.force" [limit]="10" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
  [scrollbarV]="false"  [sorts]="[{prop: 'createdDate', dir: 'desc'}]">


  <!-- certification list -->
  <ngx-datatable-column name="Certificate Id" *ngIf="show">
  </ngx-datatable-column>

  <ngx-datatable-column name="Vehicle No."  *ngIf="show">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row['registrationNumber'] | uppercase}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Chassis No."  *ngIf="show">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row['chassisNumber']}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Owner Name"  *ngIf="show">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row['ownerName']}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Product Name"  *ngIf="show">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row['productname']}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Created By"  *ngIf="show">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row['user']['name']}}
    </ng-template>
  </ngx-datatable-column>
  <!-- <ngx-datatable-column name="Product Name">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row['ownerName']}}
    </ng-template>
  </ngx-datatable-column> -->
  <ngx-datatable-column name="Passing Rto"  *ngIf="show">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>
        {{row['rtoZone']}}
      </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Date of Creation"  *ngIf="show">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>
        {{row['createdDate'].substring(0, 10)}}
        
      </span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Operations"  *ngIf="show">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <button class="download_button">{{operation}}</button>
    </ng-template>
  </ngx-datatable-column>

 
  
<!-- qrcode list -->
<ngx-datatable-column name="Brand Name"  *ngIf="!show">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{row['brandname']}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Product Name"  *ngIf="!show">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{row['productname']}}
    <!-- <img src="row['qrcodeimg']"> -->
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column name="Lot Count"  *ngIf="!show">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{row['lotcount']}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Mobile Number"  *ngIf="!show">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{row['mobileno']}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Created Date"  *ngIf="!show">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{row['createdDate']}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Qr Code"  *ngIf="!show && valid">
  <ng-template let-row="row" ngx-datatable-cell-template>
    <!-- {{row['productname']}} -->
    <qr-code  [value]="row['qrcodeimg']" [size]="width" [level]="level"></qr-code>
    <!-- <img style="height: 50px;max-width: 50px;" [src]="row['qrcodeimg']"> -->
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="List of Qr-code" (activate)="viewQrcodes($event)" *ngIf="!valid && !show">
  <ng-template let-row="row" ngx-datatable-cell-template>
    <button class="download_button" >View</button>
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-footer>
  <ng-template  ngx-datatable-footer-template>
<ion-row >
  <ion-col size=3>
    <ion-button  color='danger'>{{total}} </ion-button> 
  </ion-col >
  <ion-col  size=6>
    <ion-button (click)='onPageChange(-1)' [disabled]="currentPage < 0" ><ion-icon name="arrow-back-outline"></ion-icon>Pervious</ion-button> 
  </ion-col>
  <ion-col  size=3>
    <ion-button (click)='onPageChange(+1)' [disabled]=" datalist.length == 0 || datalist.length < 10 " >Next<ion-icon name="arrow-forward-outline"></ion-icon></ion-button> 
  </ion-col>

  <!-- <ion-col  size=4 class=ion-text-right>
    <button>First</button> 
  </ion-col>
  <ion-col  size=4 class=ion-text-right>
    <button>Last</button> 
  </ion-col> -->
</ion-row>

  
  </ng-template>
</ngx-datatable-footer>
</ngx-datatable>

<!-- <div id='code' style="opacity: 0;">
  <qr-code  [value]="values" [size]="width" [level]="level"></qr-code>
</div> -->
