<ion-header *ngIf="myPlatform == 'desktop'">
  <ion-toolbar>
   <ion-title> Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="myPlatform != 'desktop'">
  <ion-toolbar>
    <ion-row> 
      <ion-menu-button></ion-menu-button> <ion-col size=8 id='title' style="align-self: center;">Change Password</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-card> -->
  <form [formGroup]="cpassword" style="padding: 15px;">
    <!-- <ion-row>
  <ion-col style="text-align: center;" size=6 offset=3> <ion-icon src='../../assets/c password.svg'></ion-icon></ion-col>   </ion-row> -->
  <ion-row>
  <ion-col size-lg=6 offset-lg=3 size=12> 
  <h5>Old Password</h5>
    <ion-input  type=text placeholder="Current Password" formControlName="currentPassword"></ion-input></ion-col> 
  <ion-col size-lg=6 offset-lg=3 size=12><h5>New Password</h5> <ion-input  type=text placeholder=" Enter Your New Password" formControlName="newPassword"></ion-input></ion-col> 
  <ion-col size-lg=6 offset-lg=3 size=12><h5>Conform New Password</h5> <ion-input  type=text placeholder="Re-enter Your New Password" formControlName="conformNewPassword"></ion-input></ion-col> 
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
      <!-- [disabled]="!cpassword.valid" -->
      <ion-button (click)='submit()' [disabled]="!cpassword.valid" color='danger' >
Change Password
      </ion-button>
    </ion-col>
  </ion-row>
</form>
<!-- </ion-card> -->
</ion-content>