.modal_wrapper{
    padding: 0px 0px 0px 18px;
    width: 90%;
    height: 35px;
    outline-color: rgb(210, 214, 210);
    margin: 10px 0px 0px 25px;
    font-size: 18px;
}
.label_style{
    font-size: 18px;
    margin: 0px 0px 0px 25px;
    }

    .textarea_wrapper{
        padding: 10px 0px 0px 18px;
        width: 90%;
        height: 70px;
        outline-color: #d2d6d2;
        margin: 10px 0px 0px 25px;
        font-size: 18px;
    }