input{
    margin-top:11px;
    margin-left: 18%;
}
.modal_wrapper{
    padding: 0px 0px 0px 18px;
    width: 50%;
    height: 35px;
    outline-color: rgb(210, 214, 210);
    margin: 10px 0px 0px 25px;
    font-size: 18px;
}