.labelSpacing-web {
    margin-bottom: 3%;
}

ion-datetime{
    border: 1px solid;
}
input{
height: 2.5rem;
text-align: center;
}
.header{


font-size: 23px;
    padding: 1rem;
    font-weight: bold;
    /* border-bottom: 2px; */
    /* border: 1px solid; */
    border-bottom: 1px solid lightgrey;
}