.activate_button{
    background: green;
    height: 20px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    margin: 0px 0px 0px 5px;
    }
    .deactivate_button{
      background: red;
      height: 20px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    margin: 0px 0px 0px 5px;
    }