#title{
    align-self: center;
}
.fitting{
    text-align: center;
    margin-top: 130px;
}#btn{
  bottom: 0px;
  position: fixed
}
#card{
    width: 94%;
    height: 15%;
    border-radius: 10px;
    
}
#card-d{
    margin: 6px 0px 0px 11px;
    font-weight: bold;
    
}
#card-a{
    margin: 19px 0 26px 18px;
}
#card-b{
    float: right;
    margin: -75px 9px 0px 0px; 
}
#card-c{
    float: right;
    margin: -46px 8px 0px 0px;
}   



